.ourgame {
    min-height: 70vh;
    min-width: 100%;

  .menu {
    margin-bottom: 10px;

    .menu-wrapper {
      display: flex;
      justify-content: space-between;

      .btns-toolbar{
        margin: 5px;
        width: 100%;

      .attempts{
        margin: 10px 10px 10px auto;
        width: 30%;
        height: 30px;
        border-radius: 10px;
        font-size: 1.5rem;
      }

        .btn-group {
          margin: 0 10px;
        }
      }
    }
  }

  .ourgame-cards {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 85%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    
    .card {
      text-align: center;
      width: 230px;
      margin: 10px;
      font-size: 1.5rem;
      padding: 2px;
    }
  }

};