.link-logo-block:hover {
  text-decoration: none;
}
.logo {
  font-weight: 900;
  font-size: 2rem;
  margin-top: 25px;
  text-align: end;
  padding-right: 20px;
  font-family: "Chango", cursive;
}
.main-block {
  min-height: 650px;
}
.main-img {
  background: url(../../assets/img/main.jpg) no-repeat;
  background-size: 100%;
  margin-top: 50px;
  margin-right: -60px;
  float: right;
  z-index: 100;
  overflow: overlay;
}
.header {
  margin-top: 25px;
}
.nav-link {
  font-size: 1rem;
  font-weight: 500;
}
.login-button {
  font-weight: 300;
  padding: 7px 27px;
  font-weight: 400;
}
.description-block {
  float: right;
}
.description-head {
  text-align: end;
  font-size: 1.5rem;
  font-weight: 900;
  p {
    font-weight: 900;
    font-size: 1.5rem;
    text-align: end;
    font-family: "Chango", cursive;
  }
}
.description-text {
  font-size: 1rem;
  line-height: 20px;
}
.description-btn {
  width: 150px;
  height: 50px;
}
.teaching-head {
  font-size: 1.5rem;
  font-weight: 800;
}
.card {
  transition: 1s;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.card-title {
  text-align: end;
  font-weight: 600;
}
.card-text {
  text-align: center;
}
