.results {
  margin: 5%;
  height: 88%;
  width: 90%;
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__final-tittle {
    font-size: 2rem;
    margin: 7%;
  }

  &__info {
    height: 33vh;
    overflow: scroll;
  }

  &__tabs-control {
    display: flex;
    width: 100%;
    justify-content: center;

    &__dot {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
      margin-right: 1%;

      &-active {
        background-color: #2582e7;
      }
    }
  }

  &__continue_btn {
    background-color: #eef5fd;
    color: #2582e7;
    border: none;
    font-weight: bold;
    margin: 3%;
    &:hover {
      background-color: #4d77a4;
    }
  }

  &__list-games {
    margin-bottom: 5%;
  }
}

.fullness {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__link {
    font-size: 1.2rem;
    color: #2582e7;
    cursor: pointer;
    text-decoration: underline;
  }
}

.words-info {
  min-width: 30vw;
  &__words {
    margin-left: 5%;
  }

  &__wrong {
    color: red;
    font-weight: bold;
  }

  &__correct {
    color: green;
    font-weight: bold;
  }
}
