.sprint-game {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    align-items: center;
    color: black;
    /*div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70%;
        background: rgba(0, 0, 0, 0.5);
    }*/
}

/*.sprint-title {
    display: inline;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.sprint-description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0px 0.6rem 1.5rem;
}*/