.img-mini-game {
  width: 130px;
  margin: 20px auto 0px auto;
}

.text-mini-game {
  font-size: 25px;
  font-family: cursive;
  text-align: center;
  color: white;
}

.btn-mini-game {
  margin: 15px 82px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #117a8b;
  font-family: cursive;
}

.card-mini-game {
  border-radius: 50px;
  animation: all 0.3s;
}

.card-mini-game:hover {
  transform: scale(1.05);
}

.card-mini-game-1 {
  background-color: rgb(252, 214, 2);
}

.card-mini-game-2 {
  background-color: rgb(42, 72, 206);
}

.card-mini-game-3 {
  background-color: rgb(90, 221, 38);
}

.card-mini-game-4 {
  background-color: rgb(230, 23, 137);
}

.card-mini-game-5 {
  background-color: rgb(35, 226, 178);
}

.card-mini-game-6 {
  background-color: rgb(228, 42, 42);
}