.selected-words-head {
  font-size: 1.2rem;
  font-weight: 500;
}
.list-word {
  display: flex;
  align-items: center;
  padding-left: 3.5rem;
  font-size: 1.2rem;
}
.list-word-checkbox {
  margin-left: -2.25rem;
}
