.logo-tutorial-page {
  font-weight: 900;
  font-size: 2rem;
  margin-top: 25px;
  padding-right: 20px;
  font-family: "Chango", cursive;
  text-align: left;
}
.login-button {
  font-weight: 300;
  padding: 7px 27px;
  font-weight: 400;
}
