.vocabulary-page-head-block {
}
.vocabulary-page-head {
  font-size: 2rem;
  font-weight: 900;
}
.vocabulary-page-head-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}
.vocabulary-page-link {
  font-weight: 500;
  font-size: 1.1rem;
}
