.card-new-words {
  margin: 0 auto;
}
.progress-line {
  margin: 0 auto;
}
.study-page-head-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}
.card {
  transition: 1s;
}
.btn-close {
  right: 0;
}
