.savanna {
  min-height: 70vh;
  min-width: 100%;

  .savanna-game {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  .menu {
    margin: 10px;

    .menu-wrapper {
      display: flex;
      justify-content: space-between;

      .rating{
        margin: 10px;
        width: 200px;
        height: 30px;
        border-radius: 10px;
        font-size: 1.5rem;
      }

      .btns-toolbar{
        margin: 5px;

        .btn-group {
          margin: 0 10px;
        }
      }
    }
  }

  .game-wrapper {
    height: 100%;
    width: 100%;

    .question-wrapper{

      display: flex;
      height: 70%;
      width: 100%;

      .word-quest{
        font-size: 2rem;
        position: relative;
        left: 60vw;
        border-radius: 30px;
        text-transform: uppercase;
        padding: 20px;
      }
    }


    .answers-wrapper{
      display: flex;
      height: 15%;  
      width: 100%;

    .answers-btns {
      display: flex;
      position: relative;
      justify-content: space-around;
      width: 100%;

      .word-answer{
        height: fit-content;
        min-width: fit-content;
        text-transform: uppercase;
        width: 15%;
        margin: 1% 1%;
        font-size: 1.3rem;
        padding: 7px
      }
    }
    }


  }
}
